@import '../../styles/variables.scss';

.messageWrapper {
  display: flex;
  margin-bottom: 5px;

  &.user {
    justify-content: flex-end;
  }
  &.assistant {
    justify-content: flex-start;
  }
}

.messageBubble {
  max-width: 80%;
  padding: 12px 18px;
  border-radius: $border-radius-md;
  font-size: 0.95rem;
  line-height: 1.4;
  word-wrap: break-word;
  transition: $transition-smooth;

  &.user {
    background-color: $color-lila;
    color: $color-white;
    border-bottom-right-radius: 4px;
  }

  &.assistant {
    background-color: rgba($color-brown, 0.05);
    color: $color-black;
    border-bottom-left-radius: 4px;
    border: 1px solid rgba($color-brown, 0.1);
  }
}
